body{
    background: rgb(209, 245, 209); 
}
html, body {padding:0; margin:0; height: 100%;}
#root {height: 100%;}

a{
  font-size: 18px;  
  margin: 10px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
.heading{
    text-align: center
} 
.formStyle{
    width: 300px;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.battonStyle{
    width: 150px;
    margin: 10px;
}
.labelStyle{
    margin: 10px;
}